@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300&family=Roboto+Mono&display=swap');
.library{
    margin-top: 2rem;
    position: fixed;
    left: 0%;
    top: 0%;
    right: 80%;
    bottom: 0%;
    overflow: scroll;
    transform: translateX(-100%);
    transition: all 0.5s ease-in;
    opacity: 0;
    
}
.librarysongs{
   
    padding: 1rem;

    display: flex;

    &:hover{
        background-color: rgb(198, 255, 255);
    }
    img{
        width: 20%;
    }
    p{
        font-family: 'IBM Plex Sans Arabic', sans-serif;
        color: rgb(66, 66, 66);
      
        
    }
    // box-shadow: ;

}
*::-webkit-scrollbar{
    width: 3px;
}
*::-webkit-scrollbar-track{
    background: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: #6e6e6e;
    border-radius: 20px;
    border: transparent;

}
*::-webkit-scrollbar{
    width: 3px;
}
.Selected{
    background-color: pink;
}

.active-library{
    transform: translateX(0);
    opacity: 1;

}

@media screen and (max-width: 768px) {
    .library{
        width: 100%;
        background-color: white;   
    }
    .active-library{
        transform: translateX(0);
        
    }




}

